/*Cores*/
:root {
    --Azulheader: #1977B2;
    --BrancoPuro: #fff;
    --Brancoescuro: #E8E8E8;
    --Preto: #000;
    --Cinza: #B8B8B8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    margin: 0 auto;
}

html,
body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


.btn {
    text-decoration: none;
    font-size: 0.9rem;
    background-color: var(--BrancoPuro);
    color: var(--Azulheader);
    width: 110px;
    height: 45px;
    align-items: center;
    display: flex;
    border-radius: 7px;
    justify-content: center;
}

/*Celular Começo*/

/**Header*/



header {
    height: 70px;
    background-color: var(--BrancoPuro);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 490;
    font-style: normal;
    position: relative;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

#logo {
    padding: 0px 15px;
}

#logo img {
    height: 75px;
    width: 75px;
}

#cadastro {
    display: none;
    pointer-events: none;
}

nav {
    margin-bottom: 20px;
    position: relative;
    width: 48px;
    height: 48px;
}



#home {
    display: none;
}



#aberto {
    opacity: 0;
}


.btnAbre {
    height: 48px;
    width: 48px;
    font-size: 2.3rem;
    background: none;
    border: none;
    color: var(--Azulheader);
}

label {
    font-size: 0.7rem;
    color: var(--Azulheader);
}



header .container {
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 0px 5px;
}



nav #menuprincipal {
    position: fixed;
    height: 88vh;
    background-color: var(--BrancoPuro);
    right: -100%;
    width: 100%;
    top: 70px;
    position: fixed;
    transition: all 0.5s;
    overflow-y: auto;
}

nav ul li {
    list-style: none;
    padding: 9px;
    text-align: left;
}

nav ul li a {
    text-decoration: none;
    color: var(--Azulheader);
}

.submenu {
    margin-left: 25px;
    line-height: 13px;
    font-size: 0.8rem;
    display: none;
}

.submenu li {
    border-bottom: 3px solid #EDEDED;
}

#menuprincipal>li {
    border-bottom: 2px solid var(--Azulheader);
    padding: 10px 35px;
    font-size: 1.1rem;
}

.submenuSeguros.mostra {
    display: block;
}

.submenuSobre.mostra {
    display: block;
}

#menuprincipal.mostra {
    right: 0;
}

/*Fim Header*/

/*Main*/


main {
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 2px solid var(--BrancoPuro);
    animation: bgCarousel 15s infinite;
}

main .container {
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    height: 50vh;
}

.textomain {
    color: var(--Brancoescuro);
    max-width: 270px;
    margin: 30px 0px;
    margin-top: 45px;
}

.textomain h1 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}


@keyframes bgCarousel {
    0% {
        background-image: url("./img/fundo1.png");
    }

    33% {
        background-image: url("./img/fundo2.png");
    }

    66% {
        background-image: url("./img/fundo3.png");
    }

    100% {
        background-image: url("./img/fundo1.png");
    }
}

#cadastro {
    margin-bottom: 5px;
}

#cadastro .btn {
    background-color: var(--Azulheader);
    color: var(--BrancoPuro);
}

/**Fim Main*/

/**Section 1*/

#porque {
    background-color: #0c66ba;
    height: 70vh;
}

#porque .container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#porque .textosection {
    max-width: 270px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: var(--BrancoPuro);
    text-align: center;
}

.textosection h2 {
    margin-bottom: 10px;
    font-size: 1.6rem;
}

.textosection p {
    text-align: center;
    margin-top: 5px;
}

.imagemsection {
    width: auto;
    height: auto;
}

.imagemsection img {
    width: 250px;
    height: 223px;
}

/**Section 2 e 3**/

#nosso {
    height: auto;
}

#nosso .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#nosso .container h2 {
    margin-top: 20px;
}

#nosso .container .textosection {
    max-width: 350px;
    margin-top: 15px;
    border-bottom: 2px solid var(--Azulheader);
    padding-bottom: 15px
}

#cartao .container {
    margin-top: 30px;
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
}

.card {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 10px 0px;
    border-radius: 25px;
    overflow: hidden;
    padding: 15px 0px;
}

.card img {
    border-radius: 25px;
}

.card .btn {
    background-color: var(--Azulheader);
    color: var(--BrancoPuro);
}

.card h2 {
    padding: 10px 0px;
}

.card p {
    padding-bottom: 20px;
    max-width: 200px;
}

#tatiana {
    background-color: var(--Azulheader);
    height: 80vh;
}

#tatiana .container {
    flex-direction: column;
    align-items: center;
}

#tatiana .container .textosection h2 {
    margin: 30px 0px 20px 0px;
}

#tatiana .container .textosection p {
    display: none;
}

#tatiana .container #textofoto {
    text-align: center;
}

#tatiana .container #textofoto p {
    margin-bottom: 20px;
}

#reviews .container {
    align-items: center;
    justify-content: center;
}

.review {
    margin-top: 50px;
}

#parcerias .container{
    flex-direction: column;
    align-items: center;
    font-size: 1.1rem;
}

.carrossel{
    margin: 40px auto;
    width: 90%;
    border: 2px solid var(--Azulheader);
    display: flex;
    overflow-x: hidden;
    gap: 1em;
}

.carrossel::-webkit-scrollbar{
    display: none;
}

.parceiros{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    animation: spin 30s infinite linear;
    flex-shrink: 0;
}

@keyframes spin {
    from {
        translate: 0;
    }
    to {
        translate: -100%;
    }
}

footer{
    background-color: var(--Azulheader);
    height: 70vh;
}

footer .container{
    display: flex;
    flex-direction: column;
    padding: 15px 25px;
}

/*Celular deitado*/
@media (min-width: 576px) {

    nav #menuprincipal {
        height: 80vh;
    }
}


/*Computador */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
        justify-content: space-between;
    }

    header {
        height: 70px;
    }

    header .container {
        position: static;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .btnAbre {
        display: none;
    }

    #cadastro {
        display: block;
        pointer-events: all;
        margin-bottom: 20px;

    }

    nav {
        width: auto;
        height: auto;
        margin: 0px 20px;
        margin-bottom: 10px;
    }

    #logo {
        margin-bottom: 10px;
    }

    #cadastromobile {
        display: none;
    }

    #home {
        display: block;
        color: var(--Azulheader);
        margin-top: 3px;
    }

    #logo img {
        height: 80px;
        width: 80px;
    }

    nav #menuprincipal {
        position: static;
        height: auto;
        width: auto;
        right: auto;
        top: auto;
        background: none;
        overflow: visible;

    }

    nav ul {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    #menuprincipal>li {
        border: none;
        padding: 0;
        font-size: 1.0rem;
    }

    nav ul li {
        padding: 0;
    }

    .submenu {
        position: absolute;
        top: 192%;
        display: none;
        background: var(--BrancoPuro);
        min-width: 100px;
        z-index: 1000;
        line-height: 50px;
        font-size: 1.0rem;
        width: 310px;
        height: 270px;
        left: 10px;
    }

    .submenu li a {
        padding-left: 20px;
    }



    .submenuSeguros {
        height: 372px;
    }

    main {
        height: 65vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    

    #porque {
        height: 65vh;
    }

    #porque .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 65vh;
    }

    #porque .textosection {
        max-width: 550px;
        color: var(--BrancoPuro);
        margin-left: 20px;
        text-align: left;
    }


    #porque .textosection h2 {
        font-size: 2.9rem;
        margin-bottom: 20px;
        ;
    }

    #porque .textosection p {
        text-align: left;
        font-size: 1.8rem;
        max-width: 550px;
        margin-top: 50px;
        margin-bottom: 120px;
    }

    .imagemsection img {
        width: 435px;
        height: 385px;
    }

    main .container .textomain h1 {
        font-size: 1.9rem;
    }

    main .container .btn {
        margin-bottom: 85px;
        width: 200px;
        height: 50px;
        font-size: 1.1rem;
    }

    #nosso .container {
        flex-direction: row;
        justify-content: space-around;
        border-bottom: 1px solid var(--Azulheader);
        margin-top: 10px;
    }

    #nosso .container h2 {
        font-size: 2.1rem;
        margin-bottom: 60px;
    }

    #nosso .container h3 {
        text-align: left;
    }

    #nosso .container .textosection {
        border: 0px solid;
    }

    #nosso .container p {
        text-align: left;
    }

    #cartao .container {
        flex-direction: row;
        justify-content: space-around;
    }

    .review {
        margin-top: 25px;
    }

    .card {
        align-items: first baseline;
    }

    .card .btn {
        background-color: var(--Azulheader);
        color: var(--BrancoPuro);
        width: 150px;
    }

    .card h2 {
        padding: 10px 0px;
        text-align: left;
    }

    .card p {
        padding-bottom: 20px;
        max-width: 200px;
        text-align: left;
        max-width: 350px;
    }
}